name: build

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:

jobs:
  linux-amd64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: docker build -o linux-amd64 -f build/Dockerfile .
      - uses: actions/upload-artifact@v4
        with:
          name: linux-amd64
          path: linux-amd64
  linux-arm64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - run: docker buildx build --platform linux/arm64 -o linux-arm64 -f build/Dockerfile --load .
      - uses: actions/upload-artifact@v4
        with:
          name: linux-arm64
          path: linux-arm64
  darwin-amd64:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4
      - run: |
          uname -a
          sw_vers
          system_profiler SPHardwareDataType
      - run: bash build/github-actions.sh mac_prepare_tools
      - run: bash build/github-actions.sh mac_build_perl
      - run: bash build/github-actions.sh mac_create_artifacts
      - uses: actions/upload-artifact@v4
        with:
          name: darwin-amd64
          path: darwin-amd64
  darwin-arm64:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - run: |
          uname -a
          sw_vers
          system_profiler SPHardwareDataType
      - run: bash build/github-actions.sh mac_prepare_tools
      - run: bash build/github-actions.sh mac_build_perl
      - run: bash build/github-actions.sh mac_create_artifacts
      - uses: actions/upload-artifact@v4
        with:
          name: darwin-arm64
          path: darwin-arm64
